$colors:(
        primary:#db9e3f,
        "white":#fff,
        "black":#000,
        "dark":#222,
        "grey":#999,
        "light":#f9f9f9,
        "dark-1":#343440,
        "info":#4b67af,
         "white-1":#fcfcfc,
        "white-2":rgb(212, 217, 222),

);
$boder-color:map_get($colors,'white-2');
$base-font-size:1rem;
$font-size:(
        xs:0.7692,
        sm:0.9231,
        md:1,
        lg:1.076,
        xl:1.2308

);
$flex-jc:(
        start:flex-start,
        end:flex-end,
        center:center,
        between:space-between,
        around:space-around,

);
$flex-ai:(
        start:flex-start,
        end:flex-end,
        center:center,
        stretch:stretch,

);
$spacing-type:(m:margin,p:padding);
$spacing-directions:(t:top,r:right,b:bottom,l:left);
$spacing-base-siz:1rem;
$spacing-siz:(0:0,1:0.25,2:0.5,3:1,4:1.5,5:2);
